# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# PHP
vendor/
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Tailwind
public/css/input.css  # Không đẩy file nguồn, chỉ output.css

# Config
config/

#SQL
sql/